@model BibliotecaASPCore.Models.Cliente

@{
    ViewData["Title"] = "EditarCliente";
}

<h2>EditarCliente</h2>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="cliente" asp-action="EditarCliente" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ra" class="control-label"></label>
                <input asp-for="Ra" class="form-control" />
                <span asp-validation-for="Ra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" 
                       onclick="return alert('Cliente editado com sucesso!')"/>
                <input type="hidden" asp-for="Id" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Cliente">Voltar para lista de clientes.</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
